<footer class="footer">
    <!-- 🧷 Bloque 1: Identidad -->
    <div class="footer-identity">
      <img src="/assets/home/logo-nmv3.svg" alt="Logo de Nahiri Maito">
      <p>Laboratorio creativo para artistas, creadores y proyectos con identidad
        propia.</p>
        <h5>📍 Visítanos</h5>
      <div class="footer-visitanos">
        <img class="iconrss" src="https://img.icons8.com/?size=100&id=GCo0HIceD8yd&format=png&color=000000" alt="">
        <a href="https://maps.app.goo.gl/AEBNRSdCEfohWcZ57">Av. Río Churubusco 755. Plaza Río, B-10, <br>
            INFONAVIT IZTACALCO, 08900. CDMX.</a>
          </div>
    </div>
    <!-- 🧷 Bloque 2: Exploración -->
     <div class="footer-explorar">
      <h4>Explorar</h4>
      <ul>
        <li><a href=""></a>Inicio</li>
        <li><a href=""></a>Servicios</li>
        <li><a href=""></a>Portafolio</li>
        <li><a href=""></a>Nuestra Historia</li>
        <li><a href=""></a>Sobre Nosotros</li>
      </ul>
     </div>

     <!-- 🧷 Bloque 3: Recursos -->
      <div class="footer-recursos">
        <h4>Recursos</h4>
        <ul>
          <li><a href=""></a>Cómo trabajamos</li>
          <li><a href=""></a>Cómo envíar tus archivos</li>
          <li><a href=""></a>Cotizador de Libretas</li>
          <li><a href=""></a>Guías Creativas</li>
          <li><a href=""></a>Preguntas Frecuentes</li>
        </ul>
      </div>
      <!-- 🧷 Bloque 4: Links de contacto -->
        <section class="footer-contact">
          <h4>Contáctanos</h4>
          <ul>
            <a href="https://wa.me/message/WMK4UMZY3X46C1"
            ><img
              class="iconrss"
              src="https://img.icons8.com/?size=100&id=5dwUMJ8TQaqa&format=png&color=000000"
              alt=""
            /><br />WhatsApp</a
          >
          <a href="https://www.instagram.com/NahiriMaito"
            ><img
              class="iconrss"
              src="https://img.icons8.com/?size=100&id=KDWXXYcBSEcJ&format=png&color=000000"
              alt=""
            /><br />Instagram</a>
            <a href="mailto:nahirimaito@gmail.com"
            ><img
              class="iconrss"
              src="https://img.icons8.com/?size=100&id=7X2DNQH7dVDS&format=png&color=000000"
              alt=""
            /><br/>Correo</a>
            <a href="https://www.facebook.com/NahiriMaito"
            ><img
              class="iconrss"
              src="https://img.icons8.com/?size=100&id=3U3uC2N2yrSr&format=png&color=000000"
              alt=""
            /><br />Facebook</a
          >

          </ul>

        </section>
        <!-- 🧷 Bloque 3: Cierre y Créditos -->
        <section class="footer-credits"></section>
      </section>
  </div>
</footer>
