main {
  background-color: white;
  color: black;
  padding: 2% 10%;
  max-width: 1020px;
  margin: 0 auto;
  .img-responsive {
    max-width: 30vh;
    margin: 0 auto;
  }
  .lista-numerada li {
    list-style-type: decimal; /* numeración clásica */
    padding-left: 1.5em;
    a {
      color: #004552;
      font-style: italic;
      font-weight: 600;
    }
  }
  .lista-emoji {
    list-style: none;
  }
  .checklist-rapida {
    background-color: rgba(0, 179, 229, 0.4);
    padding: 1% 5%;
    max-width: 1020px;
    margin: 0 auto;
    h5 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 2%;
      padding: 0;
    }
  }
  .doc-item {
    background-image: url();
    color: black;
    padding: 2% 10%;
    max-width: 1020px;
    margin: 0 auto;
    blockquote {
      background: #f0f4f7;
      border-left: 4px solid #004552;
      margin: 1.5em 0;
      padding: 1em 1.5em;
      font-style: italic;
      color: #333;
    }
    .faq-conditions {
      list-style-type: decimal;
    }
    .privacy-list,
    .faq-conditions,
    .conditions-list {
      ul {
        font-family: "Lexend", serif;
        font-weight: 240;
      }
    }
  }
  main a {
    font-style: italic;
    font-weight: 600;
    color: #004552;
    text-decoration: inherit;
  }

  .recomendaciones-tamano {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    max-width: 100%;

    .table-container {
      overflow-x: auto;
      border-radius: 12px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(6px);
      margin-bottom: 1rem;

      table {
        width: 100%;
        border-collapse: collapse;
        min-width: calc(300px - 1rem);
        font-size: 0.95rem;

        thead {
          background-color: #004552;
          color: white;

          th {
            font-weight: 600;
          }
        }

        th,
        td {
          text-align: left;
          padding: 12px;
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}
blockquote {
  font-family: lexend, serif;
  background: #f0f4f7;
  border-left: 4px solid #004552;
  margin: 1.5em 0;
  padding: 1em 1.5em;
  font-style: italic;
  color: #333;
}

.nota-info {
  font-family: "Lexend", serif;
  font-weight: 400;
  padding: 0.75rem 1rem;
  border-left: 4px solid #ffcc00;
  border-radius: 6px;
  font-size: 0.9rem;
  color: #444;
  background: #fff9db;
}
.btn-descargar {
  font-family: lexend, serif;
  display: inline-block;
  background-color: #0b8c84;
  color: white;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-descargar:hover {
  background-color: #056d64;
}
